{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block main %}
<h1>Inscription</h1>
<form action="{{ path('app_profil_inscription') }}" method="post">
    <fieldset>
    <label for="firstname">Prénom</label>
    <input type="text" id="firstname" name="firstname" placeholder="Écrire ici...">
    <label for="name">Nom</label>
    <input type="text" id="name" name="name" placeholder="Écrire ici...">
    <label for="email">Votre mail</label>
    <input type="email" id="email" name="email" placeholder="Écrire ici...">
    <label for="pseudo">Pseudonyme (pas de chiffres/nombres/caractères spéciaux)</label>
    <input type="text" id="pseudo" name="pseudo" placeholder="Écrire ici...">
    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="password" placeholder="Écrire ici...">
    <label for="password_confirm">Confirmer le mot de passe</label>
    <input type="password" id="password_confirm" name="password_confirm" placeholder="Écrire ici...">
    </fieldset>
    <div>
        <h2>Choix de la photo de profil</h2>
        <fieldset>
        <input type="radio" id="photo_profil" name="photo_profil" >
        <label for="photo_profil"><img src="{{ asset('images/photo_profil.png') }}" alt="Photo de profil"></label>
        <input type="radio" id="photo_profil" name="photo_profil" >
        <label for="photo_profil"><img src="{{ asset('images/photo_profil.png') }}" alt="Photo de profil"></label>
        <input type="radio" id="photo_profil" name="photo_profil" >
        <label for="photo_profil"><img src="{{ asset('images/photo_profil.png') }}" alt="Photo de profil"></label>
        <input type="radio" id="photo_profil" name="photo_profil" >
        <label for="photo_profil"><img src="{{ asset('images/photo_profil.png') }}" alt="Photo de profil"></label>
        <input type="radio" id="photo_profil" name="photo_profil" >
        <label for="photo_profil"><img src="{{ asset('images/photo_profil.png') }}" alt="Photo de profil"></label>
        <input type="radio" id="photo_profil" name="photo_profil" >
        <label for="photo_profil"><img src="{{ asset('images/photo_profil.png') }}" alt="Photo de profil"></label>
        <input type="radio" id="photo_profil" name="photo_profil" >
        <label for="photo_profil"><img src="{{ asset('images/photo_profil.png') }}" alt="Photo de profil"></label>
        <input type="radio" id="photo_profil" name="photo_profil" >
        <label for="photo_profil"><img src="{{ asset('images/photo_profil.png') }}" alt="Photo de profil"></label>
        <input type="radio" id="photo_profil" name="photo_profil" >
        <label for="photo_profil"><img src="{{ asset('images/photo_profil.png') }}" alt="Photo de profil"></label>
        </fieldset>
    </div>  
    <fieldset>
    <label for="age">Âge</label>
    <input type="number" id="age" name="age" placeholder="Votre âge">
    </fieldset>
    <fieldset>
    <legend>Sexe</legend>
    <input type="radio" id="sexe" name="sexe" value="M">
    <label for="sexe">Masculin</label>
    <input type="radio" id="sexe" name="sexe" value="F">
    <label for="sexe">Féminin</label>
    <input type="radio" id="sexe" name="sexe" value="A">
    <label for="sexe">Autre</label>
    </fieldset>
    <fieldset>
        <input type="radio" id="newsletter" name="newsletter">
        <label for="newsletter">Inscription à la newsletter (optionnel)</label>
    </fieldset>
    <button type="submit">Créer un compte</button>
</form>
{% endblock %}
